PORT=3000
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=senha
MYSQL_DATABASE=clothes
MYSQL_CONNECTION_LIMIT=10
MYSQL_SSL=false
# MYSQL_SSL_CA=-----BEGIN CERTIFICATE-----...-----END CERTIFICATE-----
JWT_SECRET=troque-este-segredo
